


<div class="card">
  <div class="card-block">
    <div class="row">
      <div class=" col-lg-2 col-md-2 col-sm-3">
        <%= gravatar_for message.user %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-9">
        <p class="card-text">
          <span class="text-muted"><%= message.user.profile.fname %> at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>