
<div class="container mt-4">
	<ul class="table-striped ">

		<li><%= link_to "Enter #{chat_room.title}", chat_room_path(chat_room) %>
			<%=  chat_room.owner_fname %>
		</li>
		<!-- <li>< link_to 'Delete', chat_room_path(@chat_rooms), :style=> 'color:black', :class => 'navbar-link' %> </li> -->
			<!-- <  @chat_rooms.each do |room| %>
			<li>  < link_to 'Delete', chat_room_path(room), :style=> 'color:black', :class => 'navbar-link' %> </li>
		< end %> -->
	</ul>

</div>