<div class="container mt-4">
	<h1>CHAT ROOMS</h1>
<!-- 
	<p class="lead" style="color: yellow;">< link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>
 -->

	<ul>

		  <%= render @chat_rooms %>
		  
	</ul>
	
</div>