<div class="container mt-4">
	<h1 class="text-uppercase">Create chat room</h1>

	<%= form_for [@user, @chat_room] do |f| %>
	  <div class="form-group">
	    <lable class = "col-sm-6 control-label" >
            <h4>Title 
            	<span class="text-danger"> * </span>
            </h4>
        </lable>
	    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
	  </div>

	  <%= f.submit "CREATE", class: 'btn btn-primary' %>
	<% end %>
</div>