.popover__2vSb5RYj187vezgJCHUZI1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center; }

.above-right__1R3Yce6Qudqeexq1DdSXbn {
  -webkit-transform: translateX(-100%) translateY(-100%);
          transform: translateX(-100%) translateY(-100%); }

.above-left__PNDlV9dmsMQ63VgxluyBr {
  -webkit-transform: translateX(0%) translateY(-100%);
          transform: translateX(0%) translateY(-100%); }

.above-center__16P774agBUJIrg3PJJNOXo {
  -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%); }

.below-right__XT76WV7zCz6PFSFnddn2A {
  -webkit-transform: translateX(-100%) translateY(0%);
          transform: translateX(-100%) translateY(0%); }

.below-left__xYCZGMCiFIsNkuYaJpvl3 {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%); }

.below-center__2beIJPYLrUM8BZilMJjUAI {
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%); }

.noUnderline__1SC6_eVwcicCvkuSVbHlDb {
  text-decoration: none; }
  .noUnderline__1SC6_eVwcicCvkuSVbHlDb:hover, .noUnderline__1SC6_eVwcicCvkuSVbHlDb:focus, .noUnderline__1SC6_eVwcicCvkuSVbHlDb:active {
    text-decoration: none; }

.nipple__3U8A1LwwgPxXB9968KjcRV {
  position: absolute;
  top: -8px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff; }
  .nipple__3U8A1LwwgPxXB9968KjcRV.nippleShadow__1yYvZ5N09qmcoQAKW_IDC8 {
    z-index: -1;
    top: -10px;
    right: 6px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, 0.1); }

.wrapper__6QRVYmjk_3YS02hd62vt_ {
  position: relative; }

.shadow__3DzEF2DlOL8n2FXGHNWRBW {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23), 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1); }

.toggle__5-z_DukFCkfN7zUvzAEV2 {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: 0;
  padding: 0 auto;
  color: #ffffff;
  border-color: transparent;
  background: transparent;
  outline: none; }
  .toggle__5-z_DukFCkfN7zUvzAEV2:hover {
    background-color: rgba(212, 213, 214, 0.3);
    cursor: pointer; }
  .toggle__5-z_DukFCkfN7zUvzAEV2:focus {
    outline: none; }

.menu__dLYZatHLSv4hjrBktpiuL {
  background-color: #ffffff;
  width: 320px;
  line-height: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  border-radius: 2px; }

.profileItem__2PlhPRqKEfc7P6b1qRUOhb {
  padding: 1.3rem;
  border-bottom: solid 1px #d4d5d6; }

.profileImage__1We9UPhllENf_6vYh54dTM {
  margin-top: 0.5rem; }

.profileDescription__2MgTY_2yyD_0eC_edMuAOi {
  width: 100%;
  padding: 0rem 1rem 0rem 1.3rem; }
  .profileDescription__2MgTY_2yyD_0eC_edMuAOi .name__3hFy3Ts5ypf1FYZUtv-RhB {
    color: #204056;
    font-weight: 600; }
  .profileDescription__2MgTY_2yyD_0eC_edMuAOi .points__3XiPu_6zQQHLDYAutkZuzG {
    color: #939598;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem; }

.menuItem__1dRLL7pOxy9S2VSoUqgBCJ {
  display: flex;
  align-items: center;
  padding: 1rem 1.3rem;
  width: 100%;
  cursor: pointer;
  color: #484848; }
  .menuItem__1dRLL7pOxy9S2VSoUqgBCJ:hover {
    background-color: rgba(41, 41, 41, 0.05);
    text-decoration: none;
    color: #222222; }
  .menuItem__1dRLL7pOxy9S2VSoUqgBCJ:focus, .menuItem__1dRLL7pOxy9S2VSoUqgBCJ:active {
    text-decoration: none; }
  .menuItem__1dRLL7pOxy9S2VSoUqgBCJ:before {
    content: ""; }

.avatar__Cb1WP643p3tcQpIWLY9R8 {
  overflow: hidden;
  line-height: 0;
  width: 4.5rem;
  height: 4.5rem; }
  .avatar__Cb1WP643p3tcQpIWLY9R8 .image__1Q4r5fS8Aj_N6s2tLcrFks {
    width: 4.5rem;
    height: 4.5rem; }

.round__3de1LBOIa74IvzHDeRG3lQ {
  border-radius: 100%; }

.small__3duTmSpEyR9eEpaRITuulp {
  width: 1.5rem;
  height: 1.5rem; }
  .small__3duTmSpEyR9eEpaRITuulp .image__1Q4r5fS8Aj_N6s2tLcrFks {
    width: 1.5rem;
    height: 1.5rem; }

.large__1ndTys_ZidnihRtZM7M6ON {
  width: 7.5rem;
  height: 7.5rem; }
  .large__1ndTys_ZidnihRtZM7M6ON .image__1Q4r5fS8Aj_N6s2tLcrFks {
    width: 7.5rem;
    height: 7.5rem; }

.image__2CSw5dhd1g0C30kO8pF64Z {
  height: 1.5625rem; }

.dropdown__4ktG8plQzh-KBiDhh76HW {
  background-color: #ffffff;
  width: 360px;
  height: 340px; }

.header__3r-ARJ2P7k-K4R5318zztk {
  font-size: 16px;
  background-color: #ffffff;
  color: #204056;
  padding: 17px;
  border-bottom: solid 1px #d4d5d6; }

.scroll__2iVFf3d59Dc7N1Iyn2IOUG {
  overflow: scroll; }

.emptyMsg__1810tokpeRyoVqB-R4VcIF {
  background-color: #ffffff;
  height: 100%;
  font-size: 0.9rem; }
  .emptyMsg__1810tokpeRyoVqB-R4VcIF .bell__1TpOnwZztkehB84PlUHlRB,
  .emptyMsg__1810tokpeRyoVqB-R4VcIF .message__2NQH4L208WkeozmRaWnsMy {
    color: #939598;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto; }

.bell__1TpOnwZztkehB84PlUHlRB {
  padding: 0.5rem;
  font-size: 2rem; }

.menuBell__b4mZCIoX5e3ZhCUqW60EU {
  height: 40px; }

.item__2be0TGJaMhdD-qeHvgWDM2 {
  width: 100%;
  padding: 1rem;
  color: #204056;
  background-color: #ffffff;
  height: 100px;
  align-items: center;
  border-bottom: solid 1px #d4d5d6;
  cursor: pointer;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #52b1db;
  line-height: normal; }
  .item__2be0TGJaMhdD-qeHvgWDM2.seen__2TFnR4fDo_EcBBOeCdbLXY {
    border-left-width: 0px;
    border-left-style: none;
    box-shadow: none; }
    .item__2be0TGJaMhdD-qeHvgWDM2.seen__2TFnR4fDo_EcBBOeCdbLXY img {
      opacity: 0.4; }

.seen__2TFnR4fDo_EcBBOeCdbLXY .icon__88wZt3xDPuSV02UYnfJoz,
.seen__2TFnR4fDo_EcBBOeCdbLXY .description__Gr89401fZo3TWcpAH7DUW,
.seen__2TFnR4fDo_EcBBOeCdbLXY .time__156rG0v4Q8JOzc1e8BHs-r {
  color: #bebfc1; }

.seen__2TFnR4fDo_EcBBOeCdbLXY .iconWrapper__1uM0cqI2g_4NXEaX4U1c-6 {
  border: 1px solid #bebfc1; }

.link__1dAHuGK8Aw8FKmZ4G40okR:hover * {
  background-color: #e9eaea; }

.thumbnail__REteKm8nKaNf8w5dB-ok {
  padding-right: 1.2rem; }
  .thumbnail__REteKm8nKaNf8w5dB-ok img {
    width: 45px;
    height: 45px; }

.iconWrapper__1uM0cqI2g_4NXEaX4U1c-6 {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #52b1db; }

.icon__88wZt3xDPuSV02UYnfJoz {
  color: #52b1db;
  font-size: 20px; }

.textBox__rN-3bWB0oH_9bwB7jhOAi {
  width: 260px; }

.description__Gr89401fZo3TWcpAH7DUW {
  font-size: 0.9rem;
  padding: 2px 0px; }

.time__156rG0v4Q8JOzc1e8BHs-r {
  padding: 2px 0px;
  font-size: 0.8rem;
  color: #939598;
  font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.contentContainer__3rYV5hCbkX8Z5A1gQ1uzq4 {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: calc(1440px + 12rem);
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 48rem) {
    .contentContainer__3rYV5hCbkX8Z5A1gQ1uzq4 {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media only screen and (min-width: 64rem) {
    .contentContainer__3rYV5hCbkX8Z5A1gQ1uzq4 {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 75rem) {
    .contentContainer__3rYV5hCbkX8Z5A1gQ1uzq4 {
      padding-left: 6rem;
      padding-right: 6rem; } }

.contentContainerWide__1saqfFL04Txxk0GXDnyXPu {
  max-width: none; }
  @media only screen and (min-width: 48rem) {
    .contentContainerWide__1saqfFL04Txxk0GXDnyXPu {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media only screen and (min-width: 64rem) {
    .contentContainerWide__1saqfFL04Txxk0GXDnyXPu {
      padding-left: 1.9rem;
      padding-right: 1.9rem; } }
  @media only screen and (min-width: 75rem) {
    .contentContainerWide__1saqfFL04Txxk0GXDnyXPu {
      padding-left: 1.9rem;
      padding-right: 1.9rem; } }

@-webkit-keyframes ring__2Wb3hEdTZikHks2rADPWau {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  2% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  6% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg); }
  10% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg); }
  14% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg); }
  18% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  22% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg); }
  26% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg); }
  30% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg); }
  34% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg); }
  38% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  42% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg); }
  46% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg); }
  50% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg); }
  54% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg); }
  58% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  62% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  66% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg); }
  70% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg); }
  74% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
  78% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg); }
  82% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); }
  86% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes ring__2Wb3hEdTZikHks2rADPWau {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  2% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  6% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg); }
  10% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg); }
  14% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg); }
  18% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  22% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg); }
  26% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg); }
  30% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg); }
  34% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg); }
  38% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  42% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg); }
  46% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg); }
  50% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg); }
  54% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg); }
  58% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  62% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  66% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg); }
  70% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg); }
  74% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
  78% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg); }
  82% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); }
  86% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

.bell__1u44guqHTUnektMHgI7V63 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer; }
  .bell__1u44guqHTUnektMHgI7V63.dark__B57-8gDnADrSdlK6dTpDp {
    color: #d4d5d6; }
  .bell__1u44guqHTUnektMHgI7V63.light__Y45Yd3Qu9FNcYINrxW3s2 {
    color: #ffffff;
    opacity: 0.3; }
  .bell__1u44guqHTUnektMHgI7V63.bell__1u44guqHTUnektMHgI7V63:hover {
    text-decoration: none; }
    .bell__1u44guqHTUnektMHgI7V63.bell__1u44guqHTUnektMHgI7V63:hover.dark__B57-8gDnADrSdlK6dTpDp {
      color: #bebfc1; }
    .bell__1u44guqHTUnektMHgI7V63.bell__1u44guqHTUnektMHgI7V63:hover.light__Y45Yd3Qu9FNcYINrxW3s2 {
      color: #ffffff;
      opacity: 0.4; }

.unread__1Cted1Ymh8Ehgarp-xN_gy {
  opacity: 1; }
  .unread__1Cted1Ymh8Ehgarp-xN_gy:after {
    position: absolute;
    content: " ";
    width: 8px;
    height: 8px;
    top: 0;
    right: -2px;
    border-radius: 50%;
    background: #f65a5b; }

.ring__2Wb3hEdTZikHks2rADPWau {
  -webkit-animation-name: ring__2Wb3hEdTZikHks2rADPWau;
          animation-name: ring__2Wb3hEdTZikHks2rADPWau;
  -webkit-animation-iteration-count: infiine;
          animation-iteration-count: infiine;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-transform-origin: 50% 4px;
          transform-origin: 50% 4px; }

.wrapper___FtNJJFPKOjBRYeSq7eqS {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 14; }

.contentWrapper__2MvNFVWRnpySbai8R2WkFr {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.section__3D8Pj6VoF7z2B78gHIMkm6 {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1; }

.sectionRight__2x_UrYa_JCgcfdfLU2FgeF {
  justify-content: flex-end; }

.sectionLeft__1ZxE4qxswlSZVqzj66Yx4I {
  flex: 1 1; }

.sectionRight__2x_UrYa_JCgcfdfLU2FgeF,
.sectionLeft__1ZxE4qxswlSZVqzj66Yx4I {
  flex: 1 1; }

.sectionCenter__10feYk8tZf2FwdvtmnIfrM {
  flex: 2 1;
  justify-content: center;
  text-align: center; }

.tab__8U8Y2bEbIRpEBFu3Mrga8 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.tabButton__3HQW1o-zr5_dKxqu16Ilx_ {
  width: 3rem;
  min-width: 3rem; }

.header__2HyIwBc_zcrv40gKVG4PN {
  position: relative;
  height: 3.5rem;
  z-index: 14; }

.headerCompact__2RbbDqbLJ7d9iz4WlczNH8 {
  height: 3.125rem; }

.logo__2DTA1Sw8FycapLrAZBP6fX {
  line-height: 0;
  position: relative;
  top: -2px; }

.sticky__29VqznXtTbSw_FaQIJ8oS1 {
  position: fixed;
  height: 3.5rem;
  left: 0;
  right: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.showOnMobile__G448eD-4PFs1H4yfMqjPN.showOnMobile__G448eD-4PFs1H4yfMqjPN {
  display: none; }
  @media screen and (min-width: 0) and (max-width: 735px) {
    .showOnMobile__G448eD-4PFs1H4yfMqjPN.showOnMobile__G448eD-4PFs1H4yfMqjPN {
      display: block; } }

.hideOnMobile__19kdfNZTwHMJmC_5UTygSV.hideOnMobile__19kdfNZTwHMJmC_5UTygSV {
  display: inherit; }
  @media screen and (min-width: 0) and (max-width: 735px) {
    .hideOnMobile__19kdfNZTwHMJmC_5UTygSV.hideOnMobile__19kdfNZTwHMJmC_5UTygSV {
      display: none; } }

.headerTitle__3WUka8CNchRN8beZfFQLl6 {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem; }
  .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:hover, .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:focus, .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:active {
    text-decoration: none; }
    .dark__1sZHvKinbFUEhTyBGqxkFJ .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:hover, .dark__1sZHvKinbFUEhTyBGqxkFJ .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:focus, .dark__1sZHvKinbFUEhTyBGqxkFJ .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:active {
      color: #ffffff; }
    .light__3JIhnGLBnCpUH0pzfyV_Yn .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:hover, .light__3JIhnGLBnCpUH0pzfyV_Yn .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:focus, .light__3JIhnGLBnCpUH0pzfyV_Yn .headerTitle__3WUka8CNchRN8beZfFQLl6.headerTitle__3WUka8CNchRN8beZfFQLl6:active {
      color: #15141f; }
  .headerTitle__3WUka8CNchRN8beZfFQLl6 .privateBanner__liBsZN3WkmbnZSB_7YZ2O {
    color: #37c3be;
    padding-left: 10px; }

.navIcon__3ui-P5-6cHJhc2niSk_YQh {
  display: none;
  opacity: 0.5; }

.headerTitleLink__2cFJc_8BXEM5-BKr5Q0vZv .navIcon__3ui-P5-6cHJhc2niSk_YQh {
  display: block; }

.light__3JIhnGLBnCpUH0pzfyV_Yn {
  background-color: #ffffff;
  color: #15141f; }
  .light__3JIhnGLBnCpUH0pzfyV_Yn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e9eaea; }

.dark__1sZHvKinbFUEhTyBGqxkFJ {
  background-color: #15141f;
  color: #ffffff; }

.navLinkWrapper__2c30zTe6CmW4NluigTtHaN.navLinkWrapper__2c30zTe6CmW4NluigTtHaN {
  margin: 0 1rem; }

.navLink__1UHZxn_YrsbXcxgQGNlewD {
  z-index: 1;
  white-space: nowrap; }

.proAd__1f7azXT5A4ZUIR2TwtKQ5j:hover {
  text-decoration: none; }

.headerList__3Dz7kGRsAtPu7fgp1SB-_r {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center; }

.headerListItem__2R-ZTH7tMkbBlnciRHIXyB + .headerListItem__2R-ZTH7tMkbBlnciRHIXyB {
  padding-left: 2rem; }

.registerButtonTab__2QeqkEsadbZ8luPpUM8teC {
  padding: 0; }
  .registerButtonTab__2QeqkEsadbZ8luPpUM8teC > a {
    min-width: 6rem !important; }

.loginButton__24PAOkSW4b5KXDj4U7nzdX {
  min-width: 6rem !important; }

.tab__2ljjSH5-qmXY9nlv1MxTHu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929; }
  .tab__2ljjSH5-qmXY9nlv1MxTHu:hover, .tab__2ljjSH5-qmXY9nlv1MxTHu:focus {
    text-decoration: none; }

button.tab__2ljjSH5-qmXY9nlv1MxTHu {
  background: transparent;
  border: none; }

a.tab__2ljjSH5-qmXY9nlv1MxTHu:hover,
button.tab__2ljjSH5-qmXY9nlv1MxTHu:hover {
  color: #6400e4; }

.tab__2ljjSH5-qmXY9nlv1MxTHu.active__esacicYIUuvuo9e1Gk4Kl {
  font-weight: bold;
  cursor: default; }
  .tab__2ljjSH5-qmXY9nlv1MxTHu.active__esacicYIUuvuo9e1Gk4Kl:hover {
    color: #030303; }


/*# sourceMappingURL=corporate-scenes-Landing~corporate-scenes-LogIn~corporate-scenes-Pricing~corporate-scenes-SignUp~pla~56bb0807.37971c4a61155f4741c1.css.map*/